<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
      <link rel="icon"  href="../public/img/favicon.png" type="image/icon">
      <link rel="stylesheet" href="../public/css/style.css">
      <link rel="stylesheet" href="../public/css/home.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <!-- // Fonts -->
   </head>
   <body>
      <header class="header-area">
         <!-- site-navbar start -->
         <div class="navbar-area">
            <div class="container">
               <!-- site logo -->
               <a href="#home" class="site-logo">X14</a>
               <nav class="site-navbar">
                  <!-- site menu/nav -->
                  <ul id="control">
                     <li ><a id="d1" href="home.html" >HOME</a></li>
                     <li ><a id="d2" href="https://www.google.com/">Project</a></li>
                     <li ><a id="d3" href="instagram.html">Instagram</a></li>
                     <li ><a id="d4" href="https://www.google.com/">YouTube</a></li>
                  </ul>
                  <!-- nav-toggler for mobile version only -->
                  <button id="d11" class="nav-toggler">
                  <span></span>
                  </button>
               </nav>
            </div>
         </div>
         <!-- navbar-area end -->
      </header>
      <!-- Vertical Summary -->
      <section id="project-summary">
         <div class="summary-start">Start</div>
         <div class="conference-center-line"></div>
         <div class="project-summary-content">
            <!-- Article -->
            <div class="summary-article">
               <div class="content-left-container">
                  <div id="d5" class="content-left" class="tom">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Tenetur rem asperiores vero fugit cumque autem dolorem,
                        culpa consequuntur enim sit a adipisci nemo molestias
                        atque vel libero recusandae. Harum, fugiat.<span class="article-number">01</span>
                     </p>
                  </div>
               </div>
               <div class="content-right-container">
                  <div id="d6" class="content-right">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Tenetur rem asperiores vero fugit cumque autem dolorem,
                        culpa consequuntur enim sit a adipisci nemo molestias
                        atque vel libero recusandae. <span class="article-number">02</span>
                     </p>
                  </div>
               </div>
               <div class="meta-letter">
                  <span>M</span>
               </div>
            </div>
            <!-- // Article -->
            <!-- Article -->
            <div class="summary-article">
               <div class="content-left-container">
                  <div id="d7" class="content-left">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Tenetur rem asperiores vero fugit cumque autem dolorem,
                        culpa consequuntur enim sit a adipisci nemo molestias
                        atque vel libero recusandae. Harum, fugiat.<span class="article-number">03</span>
                     </p>
                  </div>
               </div>
               <div class="content-right-container">
                  <div id="d8" class="content-right">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Tenetur rem asperiores vero fugit cumque autem dolorem,
                        culpa consequuntur enim sit a adipisci nemo molestias
                        atque vel libero recusandae.. <span class="article-number">04</span>
                     </p>
                  </div>
               </div>
               <div class="meta-letter">
                  <span>E</span>
               </div>
            </div>
            <!-- // Article -->
            <!-- Article -->
            <div class="summary-article">
               <div class="content-left-container">
                  <div id="d9" class="content-left">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Tenetur rem asperiores vero fugit cumque autem dolorem,
                        culpa consequuntur enim sit a adipisci nemo molestias
                        atque vel libero recusandae. Harum, fugiat.<span class="article-number">05</span>
                     </p>
                  </div>
               </div>
               <div class="content-right-container">
                  <div id="d10" class="content-right">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Tenetur rem asperiores vero  <span class="article-number">06</span>
                     </p>
                  </div>
               </div>
               <div class="meta-letter">
                  <span>B</span> 
               </div>
            </div>
            <!-- // Article -->
         </div>
         <div class="summary-end">End</div>
      </section>
      <!-- // Vertical Summary -->
   </body>
   <script src="../public/js/home/homeNav.js"></script>
   <script src="../public/js/socketParse.js"></script>
   <!-- <script src="../public/js/processMenuResult.js"></script> -->
   <script src="../public/js/menuControlKey.js"></script>
   <script src="../public/js/configNav.js"></script>  
   <script src="../public/js/home/processHomeResult.js"></script>
</html>